# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo

# Cache
*.tsbuildinfo
.eslintcache
.cache

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Testing
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
.logs
.pids

# Misc
*.pem
